*{
	margin: 0;
	padding: 0;

}
.body{
	background-color:#F8F8F8;
}
h1{
	text-align: center;
	font-size:35px;
	margin top:20px;
	padding:10px;
	margin-bottom:10px;
}
.container{
	width:300px;
	height: 350px;
	padding: 100px;
    font-size:0;
	margin:0, auto;
	border:2px green solid;
	margin-top: -10px;
	margin-right: 200px;
	margin-left:750px;
	box-shadow:0 1px 80px 0 gray;
	transition:0.3s;

}
.container:hover{
	box-shadow:0 1px 80px 0 green;
}
.cal-head #result{
	width:330px;
	height:100px;
	font-size:30px;
	margin-top:-100px;
	margin-left:-20px;
	font-weight: bold;
	text-align: right;
	padding:0 5px;
	letter-spacing:2px;
	border-radius:20px;
	border-color: green;

}
.bttn{
	width:75px;
	height:78px;
	font-weight: bold;
	font-size:18px;
	background-color:black;
	color:white;
}

.bttn-style{
	background-color:blue;
}
.bttn:hover{
	background-color:#366479;
	transition:0.3s;

}